#include <dt-bindings/zmk/mouse.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 2000  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO

        macro_ver: macro_ver {
            compatible = "zmk,behavior-macro";
            label = "macro_version";
            #binding-cells = <0>;
            bindings = <&kp RET>;
        };

        #endif

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        dot_slash: dot_slash {
            compatible = "zmk,behavior-tap-dance";
            label = "DOT_SLASH";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp BACKSLASH>;
        };

        kp_mo: kp_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_MO";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        sq_caret: sq_caret {
            compatible = "zmk,behavior-tap-dance";
            label = "SQ_CARET";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp CARET>;
        };

        dq_dollar: dq_dollar {
            compatible = "zmk,behavior-tap-dance";
            label = "DQ_DOLLAR";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES>, <&kp DOLLAR>;
        };

        lpar_pipe: lpar_pipe {
            compatible = "zmk,behavior-tap-dance";
            label = "LPAR_PIPE";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp PIPE>;
        };

        rpar_amp: rpar_amp {
            compatible = "zmk,behavior-tap-dance";
            label = "RPAR_AMP";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp AMPERSAND>;
        };

        lcurl_hash: lcurl_hash {
            compatible = "zmk,behavior-tap-dance";
            label = "LCURL_HASH";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE>, <&kp HASH>;
        };

        rcurl_perc: rcurl_perc {
            compatible = "zmk,behavior-tap-dance";
            label = "RCURL_PERC";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACE>, <&kp PERCENT>;
        };

        lbr_at: lbr_at {
            compatible = "zmk,behavior-tap-dance";
            label = "LBR_AT";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp AT>;
        };

        semi_excl: semi_excl {
            compatible = "zmk,behavior-tap-dance";
            label = "SEMI_EXCL";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp EXCLAMATION>;
        };

        minus_under: minus_under {
            compatible = "zmk,behavior-tap-dance";
            label = "MINUS_UNDER";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp UNDERSCORE>;
        };
    };

    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC       &kp N1          &kp N2              &kp N3              &kp N4            &kp N5  &trans                                                                &trans          &kp N6  &kp N7             &kp N8               &kp N9               &kp N0              &trans
&kp CAPSLOCK  &kp Q           &kp W               &kp E               &kp R             &kp T   &none                                                                 &none           &kp Y   &kp U              &kp I                &kp O                &kp P               &trans
&trans        &hm LEFT_ALT A  &hm LEFT_CONTROL S  &hm LEFT_COMMAND D  &hm LEFT_SHIFT F  &kp G   &none           &trans              &trans      &trans  &trans        &none           &kp H   &hm RIGHT_SHIFT J  &hm RIGHT_COMMAND K  &hm RIGHT_CONTROL L  &hm RIGHT_ALT SEMI  &trans
&trans        &kp Z           &kp X               &hm RG(C) C         &hm LG(V) V       &kp B                                       &trans      &trans                                &kp N   &kp M              &kp COMMA            &dot_slash           &kp FSLH            &trans
&to 0         &trans          &trans              &trans              &trans                    &kp_mo 1 SPACE  &kp_mo 2 BACKSPACE  &trans      &trans  &kp_mo 3 TAB  &kp_mo 4 ENTER          &trans             &trans               &trans               &trans              &sl 5
            >;
        };

        symbols {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &kp F6   &trans                                      &trans  &kp TILDE   &kp LESS_THAN  &kp GREATER_THAN   &kp QUESTION  &trans        &trans
&kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans                                      &trans  &sq_caret   &lpar_pipe     &rpar_amp          &kp COLON     &kp PLUS      &trans
&trans  &trans  &trans  &trans   &trans   &trans   &trans  &trans  &trans      &trans  &trans  &trans  &dq_dollar  &lcurl_hash    &rcurl_perc        &semi_excl    &minus_under  &trans
&trans  &trans  &trans  &trans   &trans   &trans                   &trans      &trans                  &kp GRAVE   &lbr_at        &kp RIGHT_BRACKET  &kp EQUAL     &kp ASTERISK  &trans
&trans  &trans  &trans  &trans   &trans            &trans  &trans  &trans      &trans  &trans  &trans              &trans         &trans             &trans        &trans        &trans
            >;
        };

        numbers {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &kp N1  &kp N2  &kp N3  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &kp N0  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };

        arrows {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &kp END         &kp PAGE_DOWN   &kp PAGE_UP   &kp HOME         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans                  &trans          &trans        &trans           &trans  &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans            &trans          &trans          &trans           &trans          &trans                                            &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans            &msc SCRL_DOWN  &mmv MOVE_UP    &msc SCRL_UP     &trans          &trans                                            &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &msc SCRL_RIGHT   &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_LEFT  &trans     &trans     &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp C_AC_FORWARD  &trans          &trans          &trans           &kp C_AC_BACK                         &trans      &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans            &trans          &trans          &trans                           &mkp LCLK  &mkp RCLK  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };

        system {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bootloader  &trans                                      &trans  &bootloader  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_MUTE  &trans  &kp C_AL_SCREENSAVER
&bt BT_CLR    &trans        &trans        &trans        &trans        &trans       &trans                                      &trans  &trans       &trans             &trans           &trans      &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans       &trans  &trans  &trans      &trans  &trans  &trans  &trans       &trans             &trans           &trans      &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans                       &trans      &trans                  &trans       &trans             &trans           &trans      &trans  &trans
&trans        &trans        &trans        &trans        &trans                     &trans  &trans  &trans      &trans  &trans  &trans               &trans             &trans           &trans      &trans  &trans
            >;
        };
    };
};
